[Match]
Type                = gadget

[Network]
DNS                 = 10.1.10.2
Address             = 10.1.10.1/30
IPv6AcceptRA        = no
LinkLocalAddressing = no

[Route]
Gateway             = 10.1.10.1
